body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
    font-family: 'Roboto', sans-serif;
}

.main-wrap{
    width: 65%;
    height: 95vh;
    padding: 2.5vh;
    margin: auto;
}

.header h1{
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.info-heading{
    margin: 0;
    cursor: pointer;
}

.grid-wrap{
    height: 60vh!important;
    padding: 5vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: "l r";
}

.input-output{
    height: 60vh!important;
    background: white;
    grid-area: l;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "i"
    "o"
    "b";
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


#display-div{
    height: 60vh!important;
    grid-area: r;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
}

.input-div,.output-div{
    height: 20vh;
    padding: 1.5vh 3vh;
}

#light-div{
    height: 40vh;
    width: 40vh;
    margin: 10vh auto;
    border-radius: 100%;
}

.input-div{
    text-align: center;
    grid-area: i;
}

.output-div{
    text-align: center;
    grid-area: o;
}

.buttons-div{
    grid-area: b;
    text-align: center;
    height: 11vh;
    padding: 1.5vh 3vh;
}

.buttons{
    height: 9vh;
    padding: 1vh 0;
}

.buttons-div .buttons button{
    width: 30%;
    margin: 0 1.3%;
    height: 100%;
    /*max-height: 40px;
    min-height: 25px;*/
    border-radius: 3px;
    color: white;
    background-color: #002e63;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}


textarea{
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}






